<!DOCTYPE html>
          <html lang="es">
          <head>
              <meta charset="UTF-8">
              <meta name="viewport" content="width=device-width, initial-scale=1.0">
              <title>Determinar posición del usuario actual con la API de HTML5</title>
              <style>Estilos de la ubicación
                  a {
                      color: #2E88C7;
                  }

                  #map {
                      width: 800%;
                      height: 400px; /* Establece la altura que desees para el mapa */
                  }
              </style>
          </head>
          <body>
              <div style="width: 750px; margin: 2em auto;"><!--Resultados de la ubicacipin-->
                  <h1>Tu ubicación actual <a target="_blank" href=""></a></h1>
                  <p>Tu posición es: <span id="Pos">Desconocida</span></p>
                  <p id="PosLink"><a target="_blank"></a></p>
                  <div id="mapContainer"></div>
              </div>
          </body>
          </html>
        